     <div class="row">
        <div class="col-lg-3" *ngFor="let item of arrays">
            <div class="panel panel-primary" id="panels">
                <div class="panel-heading">
                   {{item}}
                </div>
                <div class="panel-body">
                    <a href="#">
                    <img src="https://appstudio.windows.com/Content/img/temp/icon-user.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="panel-footer">
                   site rating
                </div>
            </div>
        </div>
        
        
    </div>
