<div>
    <nav class="navbar navbar navbar-inverse">
        <div class="container">
            <button class="btn btn-success navbar-btn">Run</button>
            <button class="btn btn-success navbar-btn">Debug</button> 
            <button class="btn btn-danger navbar-btn">Stop</button> 
            <button class="btn btn-info navbar-btn">Next Step</button> 
            <button class="btn btn-info navbar-btn">Previous Step</button>
            <button class="btn btn-warning navbar-btn">Save</button>          
        </div>
    </nav>             
                
    <div>
        <textarea rows="25" class="textarea" [(ngModel)]="content"></textarea>
        <textarea rows="7" class="output" [(ngModel)]="content"></textarea>
    </div>
</div>